#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  border-style: solid;
    border-width: 3px;
  
background-image: linear-gradient(to right, #00bcd4, #2196f3),
    linear-gradient(to bottom, #2196f3, #3f51b5),
    linear-gradient(to left, #3f51b5, #607d8b);
  border: 20px solid;
  border-image-slice: 1;
background: linear-gradient(to right, #a7c8ff, #7b9fff, #3f51b5);
  border: 20px solid;
  border-image: linear-gradient(to right, #a7c8ff, #7b9fff, #3f51b5) 1;

    }



/* Define three different gradients */
.gradient1 {
  background: linear-gradient(to right, #FEB692, #EA5455);
}

.gradient2 {
  background: linear-gradient(to right, #AA076B, #61045F);
}

.gradient3 {
  background: linear-gradient(to right, #7F00FF, #E100FF);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.jobs {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 2rem 0;
  list-style: none;
}

body {
  background-image: url("/pic1.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  animation: scrollBackground 30s linear infinite;
  border:3px solid black;
  margin: 50px;
  padding: 50px;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

@media only screen and (max-width: 515px) {
  body {
    background-size: contain;
  }
}

@media only screen and (max-width: 713px) {
  body {
    background-size: contain;
  }
}



.Experiences {
  border: 1px solid black;
  border-radius: 20px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}





.jobLi {
  display: block;



  margin: 0px;
  list-style-type: none;
  font-weight: 800;
  font-size: medium;
}

.dateLi {
  display: block;
  margin: 0%;
  color: black;
  margin: 0px;
  list-style-type: none;
}

.duties {
  color: black;
}

.uLLi {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0%;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  font-style: oblique;
  position: relative;
}




.name {
  margin-top: 50px;
}


.competenceButton {
  margin: 20px;
  padding: 20px;

  background: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(12, 12, 16);


  background-color: rgba(217, 242, 242, 0.986);
  border: 1px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.competences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  list-style: none;
  font-size: large;
  border: 1px solid black;
  border-radius: 20px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.Nuages.nuages-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-weight: 400;
  color: black;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid black;
  height: 120px;
  border-radius: 15px;
  ;

  /* Add these lines to enable text wrapping */
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}
.formation {
display: flex;
    display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      margin: 0%;
      
      font-weight: 800;
      font-size: medium;
      margin-bottom: 40px;
      border: 1px solid black;
  border-radius: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.linuage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  margin: 0%;
  
  font-weight: 800;
  font-size: medium;
  text-align: left;
}
.titleFormation {
  font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    font-style: oblique;
    position: relative;
}
.compT{
  font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    font-style: oblique;
    position: relative;
}
.expeT {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  font-style: oblique;
  position: relative;
}
#text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.CompTitle {
  text-align: center;
}

.icone {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
 

}

.icone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img {
  transition: transform .7s ease-in-out;
}

img:hover {
  transform: rotate(360deg);
}

.info-container {
  font-size: 1.5rem;
  font-weight: 500;
}

p.french {
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 15px;
  text-align: center !important;
  color: black;
  margin-top: 50px;
  box-shadow: #333;
  margin:50px;
  padding:50px;

}


p.english {
  border: 1px solid black;
  border-radius: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  text-align: center !important;
  color: black;
}

p.trans {
  text-align: center !important;
  font-size: 30px;
  color: black;

  transition: font-size 0.5s ease-in-out;
}

p.trans:hover {
  font-size: 40px;
  color: rgb(63, 3, 3);

}

.mailto {
  text-align: center;
  font-size: 30px;
  color: #0e11e1;
    transform: scale(1.1);

  
}

.img4 {
  width: 90px;
  height: 90px;
  border: 2px solid #333;
  border-radius: 50%;
  animation: pulsate 2s ease-out infinite;
  box-shadow: 10 10 10px rgba(0, 0, 0, 0.3);
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

button:hover {
  transform: scale(3.1);
}

.projectData {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  font-style: oblique;
  position: relative;
}

.projectDataUl{
  border: 1px solid black;
  border-radius: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

}
